<ion-view view-title="Details">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

<ion-content class="has-header">
   <ion-list class="list-inset">
      <ion-item class="item-text-wrap">
        <img ng-src="http://galwaytour.tk/{{location.image}}">
        <h3>{{location.title}}</h3>
        <p>{{location.description}}</p>
        <button class="button button-calm icon icon-left ion-map"
        >View</button>
      <!-- <p>{{location.yCoordinate}}</p> -->
      <!-- <p>{{location.xCoordinate}}</p> -->
      </ion-item>
   </ion-list>
</ion-content>
</ion-view>
