<ion-view view-title="Tours">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content class="has-header">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
	<ion-item ng-repeat='item in places' href="#/tours/{{item._id}}"  item-text-wrap>

		<div  class="card">
			  <div class="item item-divider">
				 <h3>{{ item.title }}</h3>
			  </div>
			  <div class="item item-text-wrap">
				<img class="center-cropped " ng-src="http://galwaytour.tk/{{item.image}}"
				></a>
			  </div>
			  <div class="item item-divider">
				 <p>{{ item.description }}</p>

				 </div>


		</div>


       <!-- <img ng-src="http://galwaytour.tk/{{item.image}}"></a>
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
		 <i class="icon ion-arrow-right-b"> </i>
		 -->
      </ion-item>

    </ion-list>
</ion-content>

</ion-view>
