

<!--ion-tabs class="tabs-icon-top tabs-balanced" animation="slide-left-right">

  <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Tours" icon="ion-android-walk" href="#/tab/tours">
    <ion-nav-view name="tab-tours"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Maps" icon="icon ion-map" href="#/tab/maps">
    <ion-nav-view name="tab-maps"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="icon ion-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs-->
