<ion-view view-title="TakeTour">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
  </ion-nav-bar>
  <ion-content class="has-header">
    <h3>Map</h3>
    <div id="map" alt="tour Map"></div>
    <button class="button button-positive">Previous Point</button>
    <button class="button button-positive">End Tour</button>
    <button class="button button-positive" ng-hide="hideNextButton" ng-click="NextLocation()">Next Point</button>
  <ion-list>

   <div ng-class="{'star': location.star}" class="item item-avatar-right item-text-wrap" href="#/takeTour/{{location._id}}">

      <h3>Current Location: {{currLocationData.title}}</h3>
      <img id="tourStaticMap" ng-src="http://galwaytour.tk/{{currLocationData.image}}" alt="Photo">
      <p>{{currLocationData.description}}</p>
      <p></p>
      <h3>Next Location: {{nextLocationData.title}}</h3>
      <img id="tourStaticMap" ng-src="http://galwaytour.tk/{{nextLocationData.image}}" alt="Photo">
      <p>{{nextLocationData.description}}</p>
      <p></p>
   </div>
</ion-list>
</ion-content>

</ion-view>
