<ion-view view-title="TakeTour">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
  </ion-nav-bar>
  <ion-content class="has-header">
    <h3>Map</h3>
    <div id="map" alt="tour Map"></div>
    <button class="button button-block button-positive" ng-hide="hideNextButton" ng-click="NextLocation()">Next Point</button>
  <ion-list>

   <div ng-class="{'star': location.star}" class="item item-avatar-right item-text-wrap" href="#/takeTour/{{location._id}}">

      <h3>Current Location: {{currLocation+1}}.{{currLocationData.title}}</h3>
      <img id="tourStaticMap" ng-src="http://galwaytour.tk/{{currLocationData.image}}" alt="Photo">
      <p>{{currLocationData.description}}</p>
      <p></p>
      <h3 ng-hide="ifLast">Next Location: {{nextLocation+1}}.{{nextLocationData.title}}</h3>
      <p ng-hide="ifLast">Distance To Next Location: <strong>{{TimeTravel}}</strong></p>
      <p ng-hide="ifLast">Travel Time to Next Location: <strong>{{TimeTravel2}}</strong></p>
      <img id="tourStaticMap" ng-hide="ifLast" ng-src="http://galwaytour.tk/{{nextLocationData.image}}" alt="Photo">
      <p></p>
   </div>
   <button class="button button-block button-assertive" ng-click="goHome()">End Tour</button>
</ion-list>
</ion-content>

</ion-view>
