<ion-view class="home" left-buttons="leftbuttons" right-buttons="rightbuttons">
  <ion-slide-box class="has-footer" on-slide-changed="slideChanged(index)">
    <ion-slide class="intro-slide headers">
      <div id="logo">
        <img src="img/GCTLogo.png">
      </div>
      <div class="headers">
        <h3 >Walking Tours</h3>
      </div>
      <div>
        

      </div>

    </ion-slide>

    <ion-slide>

    </ion-slide>

    <ion-slide>

    </ion-slide>


  </ion-slide-box>

</ion-view>
