<ion-view class="home" left-buttons="leftbuttons" right-buttons="rightbuttons">
  <ion-slide-box class="has-footer" on-slide-changed="slideChanged(index)">
    <ion-slide class="intro-slide headers">
      <div id="logo">
        <img src="img/GCTLogo.png">
      </div>
      <div class="headers">
        <h3 class="homeHeader">Walking Tours</h3>
      </div>
      <div class="temp">
        <span class="tempText">{{temp}}&degc</span>
        <p class="summaryText">{{current}}</p>

      </div>

    </ion-slide>

    <ion-slide class="has-header">
      <h2 class="aboutSlide">About</h2>
<p>Dúchas na Gaillimhe - Galway Civic Trust is committed to protecting and enhancing Galway's natural, built and cultural heritage for the benefit of all. The Trust adopts a hands-on approach and undertakes improvement projects which otherwise would not happen. Our offices are located in the Latin Quarter at the Red Earl's Hall archaeological site.
</p>
<br><br>
<p>
    Established in 1992, we have completed over 50 projects, ranging from the erection of historic wall plaques to the refurbishment of Rusheen Bay Bird Sanctuary and restoration of the Fishery Tower at Wolfe Tone Bridge.<br /><br />In partnership with the Department of Social Protection, Galway City Council and Galway County Council, Galway Chamber of Commerce &amp; Industry, The Heritage Council of Ireland, and the local community, we undertake works for the enhancement of Galway city and county.
</p>

    </ion-slide>

    <ion-slide>

    </ion-slide>


  </ion-slide-box>

</ion-view>
